@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Barlow Semi Condensed", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply p-0 m-0 box-border min-h-screen h-full w-full tracking-wider;
}

.scissors-gradient {
  @apply bg-gradient-to-t from-[hsl(39_89%_49%)] to-[hsl(40_84%_53%)] shadow-[0_5px_0px_0px_hsl(39_89%_29%)];
}

.scissors-inner-gradient {
  @apply shadow-[0_-2px_5px_hsl(40_84%_33%)];
}

.paper-gradient {
  @apply bg-gradient-to-t from-[hsl(230_89%_62%)] to-[hsl(230_89%_65%)] shadow-[0_5px_0px_0px_hsl(230_89%_42%)];
}

.paper-inner-gradient {
  @apply shadow-[0_-2px_5px_hsl(230_89%_45%)];
}

.rock-gradient {
  @apply bg-gradient-to-t from-[hsl(349_71%_52%)] to-[hsl(349_70%_56%)] shadow-[0_5px_0px_0px_hsl(349_71%_32%)];
}

.rock-inner-gradient {
  @apply shadow-[0_-2px_5px_hsl(349_70%_36%)];
}

.lizard-gradient {
  @apply bg-gradient-to-t from-[hsl(261_73%_60%)] to-[hsl(261_72%_63%)] shadow-[0_5px_0px_0px_hsl(261_73%_40%)];
}

.lizard-inner-gradient {
  @apply shadow-[0_-2px_5px_hsl(261_72%_43%)];
}

.spock-gradient {
  @apply bg-gradient-to-t from-[hsl(189_59%_53%)] to-[hsl(189_58%_57%)] shadow-[0_5px_0px_0px_hsl(189_59%_33%)];
}

.spock-inner-gradient {
  @apply shadow-[0_-2px_5px_hsl(189_58%_37%)];
}

.blank-inner-gradient {
  @apply bg-[hsl(237_45%_15%)] opacity-50;
}

.glow-wrapper {
  @apply relative -rotate-z-1 isolate;
}

.glow-wrapper::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  filter: blur(6px);
  z-index: 0;
  animation: pulse-glow 3s infinite ease-in-out;
  background: radial-gradient(
    circle,
    rgba(129, 147, 137, 0.23) 0%,
    rgba(210, 220, 210, 0.23) 70%
  );
}

.wonGame {
  @apply transition-transform duration-300 ease-in-out animate-[inner-glow_3s_ease-in-out_infinite];
}

@keyframes pulse-glow {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
}

@keyframes inner-glow {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}